{{/* DATE: <iso timestamp>   BY: <author>   SYSTEM: <primary tag>
     `system` is optional and falls back to the first tag. */}}
<div class="post-meta">
  <span>DATE: <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time></span>
  <span class="post-meta-system">BY: {{ .Site.Params.author.name }}</span>
  {{- $system := .Params.system }}
  {{- if not $system }}{{ with .Params.tags }}{{ $system = index . 0 }}{{ end }}{{ end }}
  {{- with $system }}
  <span class="post-meta-system">SYSTEM: {{ . }}</span>
  {{- end }}
</div>
